@use "variables";
@use "mixins";

@include mixins.fancy-links;

body {
  font-family: variables.$text-font;
  color: variables.$text-color;
}

h1,
h2,
h3,
h4 {
  font-family: variables.$headline-font;
}

h2 {
  @include mixins.large-text;
}

p {
  font-family: variables.$text-font;
}

a {
  color: variables.$link-color;
}

.warning-button {
  @include mixins.warning;
  padding: 8px 12px;
}

#header {
  @include mixins.box;
  height: variables.$header-height;
  background-color: variables.$theme-color;
  #main-menu {
    li {
      display: inline;
    }
    a {
      color: variables.$menu-item-color;
    }
  }

  #logo {
  }
}

#main {
  width: variables.$content-width;
  margin-inline: auto;
  #content {
  }

  #sidebar {
  }
}

#footer {
  height: variables.$footer-height;
  background-color: variables.$ternary-color;
}
