@use "partials/variables";
@use "partials/mixins";

@include mixins.google-font("Alegreya+Sans");
@include mixins.google-font("Titillium+Web");

@include mixins.fancy-links;

body {
  font-family: variables.$text-font;
  color: variables.$text-color;
  @include mixins.large-screens {
    font-size: 125%;
  }
}

h1,
h2,
h3,
h4 {
  font-family: variables.$headline-font;
}

h2 {
  @include mixins.large-text;
}

p {
  font-family: variables.$text-font;
}

a {
  color: variables.$link-color;

  &:hover {
    color: darken($color: variables.$link-color, $amount: 15%);
  }
}

.warning-button {
  @include mixins.warning;
  padding: 8px 12px;
}

@include mixins.apply-to-ie-6 {
  body {
    font-size: 125%;
  }
}

#header {
  @include mixins.box(
    $border: 1px solid #999,
    $radius: 12px
  ); // use explicit names
  @include mixins.box-shadow(
    2px 0px 4px #999,
    1px 1px 6px variables.$secondary-color
  );
  height: variables.$header-height;
  background-color: variables.$theme-color;
  #main-menu {
    li {
      display: inline;
    }
    a {
      color: variables.$menu-item-color;
      padding: 6px 8px;
      border-bottom: 1px solid transparentize($color: #fefefe, $amount: 1);
      transition: border-bottom 0.5s;
      transition-timing-function: ease-in-out;

      &:hover {
        border-bottom: 1px solid opacify($color: #fefefe, $amount: 0.5);
      }
    }
  }

  #logo {
  }
}

#main {
  width: variables.$content-width;
  @include mixins.large-screens {
    width: auto;
    max-width: variables.$content-width;
  }
  margin-inline: auto;
  #content {
  }

  #sidebar {
  }
}

#footer {
  height: variables.$footer-height;
  background-color: variables.$ternary-color;
}
